<footer class="text-center">
  <body>
    <div class="container-fluid" style="background-color: #f8f9fa ;">
      <div class="row" style="justify-content: center;">
        <div class="col-md-3">
          <div class="card footer-info">
            <div class="card-body text-center">
              <h4 style="font-family:monospace ;">Address</h4>
              <hr class="my-2">
              <div class="small text-black-50">San Luis Potosi, Mexico.</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card footer-info">
            <div class="card-body text-center">
              <h4 style="font-family:monospace ;">Email</h4>
              <hr class="my-2">
              <div class="small text-black-50"><a>rodrigo_lo.ma@hotmail.com</a></div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-3">
          <div class="card footer-info">
            <div class="card-body text-center">
              <h4 style="font-family:monospace ;">Phone</h4>
              <hr class="my-2">
              <div class="small text-black-50">+52 9999999999</div>
            </div>
          </div>
        </div>    -->
      </div>
    </div>
    <div class="footer-basic">
      <footer>
        <div class="text-center">
          <a (click)="goFacebook()" ><img class="foot-icon" src="./assets/facebook.png"></a>
          <a (click)="goLinkedIn()" ><img class="foot-icon" src="./assets/linkedin.png"></a>
          <a (click)="goWhatsApp()" ><img class="foot-icon" src="./assets/whatsapp.png"></a>
        </div>
        <p class="copyright">All rights reserved. All Trademarks referred to are the property of their respective owners.
        <br>Copyright &copy; Last Updated - May 2022</p>
      </footer>
    </div>
  </body>
</footer>
