.foot{
  position: absolute;
  width: 100%;
  height: 2.5rem;
}
.footer-basic {
  padding:10px 0;
  background-color:#f8f9fa;
  color:#4b4c4d;
}


.footer-basic .copyright {
  margin-top:10px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.foot-icon{
  width: 35px;
  height: auto;
  margin: 10px;
  cursor:pointer;
}

.footer-info{
  background-color: #f8f9fa ;
  border: none;
}