
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  
  <a class="navbar-brand" href="#">Rodrigo</a>
  
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" 
  aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span></button>
  
  <div class="collapse navbar-collapse" id="navbarMain">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#home">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#technologies">Technologies</a>
      </li>
    </ul>
    <span class="navbar-text">
      Software Engineer
    </span>
  </div>
</nav>