<!-- home page -->
<div>
    <!-- Section 1 -->
    <section id="home">
        <div class="container-fluid body-home" style="height: 630px;">
            <div class="row-md-10 ">
                <div class="text-white" style="padding: 250px 35px;">
                    <p></p>
                    <h2 class="mb-4">Full Stack Developer(Test)</h2>
                    <p>
                        <span class="font-weight-light">Rodrigo Lopez Magdaleno</span>
                        <br>
                        <span class="font-italic">B.S. Mechatronics Engineering</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br> 
    
    <!-- Section 2 -->
    <section id="education" class="container-fluid">
        <div class="text-center" style="justify-content: center;">
            <img src="../../assets/education.png" class="widget" alt="eduimage">
            <br>
            <div>
                <h2 style="font-family:monospace ;">Education</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="info-container col-md-6" style="border-radius:20px ;">
                <!-- <img src="../../assets/high.jpg" class="card-img-top" alt="highSchool"> -->
                <div class="card-body">
                  <h5 class="card-title">High School</h5>
                  <p class="card-text">Attended at Monterrey Institute of Technology and Higher Education,
                    San Luis Potosi Campus,Mexico.</p>
                    <br><em>August 2013 - May 2016</em>
                </div>
            </div>

            <div class="info-container col-md-6" style="border-radius:20px ;">
                <!-- <img src="../../assets/erasmus.jpg" class="card-img-top" style="height:8.8cm ;" alt="Erasmus"> -->
                <div class="card-body">
                  <h5 class="card-title">Study Abroad</h5>
                  <p class="card-text">International exchange student in Spain as part of Erasmus+ program.
                    Attended to Castilla-La Mancha University, going throgh informatics, constrol systems and 
                    industrial robotics subjects.</p>
                    <br><em>August 2019 - February 2020</em>
                </div>
            </div>

            <div class="info-container" style="border-radius:20px ;">
                <!-- <img src="../../assets/bachelor.jpg" class="card-img-top" alt="bachelor"> -->
                <div class="card-body">
                    <h5 class="card-title">Bachelor's Degree</h5>
                    <p class="card-text">Mechatronis Engineering student at Monterrey Institute of Technology and Higher Education,
                        San Luis Potosi Campus,Mexico.</p>
                        <br><em>August 2013 - May 2016</em>
                </div>
            </div>
        </div>
    </section>
    <br>

    <!-- Section 3 -->
    <section id="experience" class="container-fluid">
        <div class="row">
            <div class="info-container col-md-6" style="border:none;">
                <img src="../../assets/exp.jpg" class="exp-img img-fluid" alt="infosys">
            </div>
            <div class="info-container col-md-6 card-body" style="border:none ; justify-content: center;">
                <div class="card-body">
                    <div class="text-center" style="justify-content: center;">
                        <img src="../../assets/experience.png" class="widget" alt="expimage">
                        <br>
                        <div>
                            <h2 style="font-family:monospace ;">Experience</h2>
                        </div>
                    </div>
                    <br>
                    <h5 class="card-title">Infosys Technologies Ltd.</h5>
                    <p class="card-text">Software Engineer trainee on the role of full stack developer as part of Infosys foundation program November 2021.
                        <br><br>Project Highlights:<br>
                        <ul>
                            <li>Implementation of new functions on a fuctional website according to guidelines starting from the database,
                                the to the back end and finally to the front end.</li>
                        </ul>
                        <br>
                    <p class="card-text"><small class="text-muted">November 2021 - Now</small></p>
                  </div>
            </div>
        </div>
    </section>

    <!--Section 4 -->
    <section id="technologies">
        <div class="text-center" style="justify-content: center; margin-top: 50px;">
            <img src="../../assets/widget.png" class="widget" alt="techimage">
            <br>
            <div>
                <br>
                <h2 style="font-family:monospace ;">Technologies & tools</h2>
                <p>Programming tools and languages learned through personal experience.</p>
                <p><small class="text-muted">Full - Stack Developer</small></p>
            </div>
        </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="info-container col-md-3" style=" border-radius:20px; height:500px; ">
                        <table class="table table-borderless">
                            <thead>
                                <tr><h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande'
                                    ,'Lucida Sans', Arial, sans-serif; justify-content: center;">Front End</h4></tr>
                            </thead> 
                            <p></p>              
                            <tbody>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/html.png"></td>
                                    <td>HTML</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/css.png"></td>
                                    <td>CSS</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/typescript.png"></td>
                                    <td>Typescript</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/bootstrap.png"></td>
                                    <td>BootStrap</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="info-container col-md-3" style=" border-radius:20px; height:500px; ">
                        <table class="table table-borderless">
                            <thead>
                                <tr><h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande'
                                    ,'Lucida Sans', Arial, sans-serif; justify-content: center;">Back End</h4>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/java.png"></td>
                                    <td>Java</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/mysql.png"></td>
                                    <td>MySQL</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/xampp.png"></td>
                                    <td>XAMPP</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/junit.png"></td>
                                    <td>JUnit5 (Mockito) </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="info-container col-md-3" style=" border-radius:20px; height:500px; ">
                        <table class="table table-borderless">
                            <thead>
                                <!-- <tr></tr> -->
                                <tr><h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande'
                                    ,'Lucida Sans', Arial, sans-serif; justify-content: center;">Frameworks<br>& IDE's</h4>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/springboot.png"></td>
                                    <td>Spring</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/angular.png"></td>
                                    <td>Angular</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/eclipse.png"></td>
                                    <td>Eclipse IDE</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/vscode.png"></td>
                                    <td>VScode</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="info-container col-md-3" style=" border-radius:20px; height:500px; ">
                        <table class="table table-borderless">
                            <thead>
                                <tr><h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande'
                                    ,'Lucida Sans', Arial, sans-serif; justify-content: center;">Others</h4>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/github.png"></td>
                                    <td>Github</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/postman.png"></td>
                                    <td>Postman</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/aws.png"></td>
                                    <td>Amazon Web Services</td>
                                </tr>
                                <tr>
                                    <td><img class="tech-icon" src="../../assets/nodejs.png"></td>
                                    <td>Node.js</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
    </section> 

    <!-- Section 5 -->
        <!-- <section class="contact-section bg-light" style="padding:20px ;" >
            <div class="container-fluid">
                <div class="row" style="justify-content: center;">
                    <div class="col-md-3">
                        <div class="card" style="border: none;">
                            <div class="card-body text-center">
                                <h4 class="text-uppercase" style="font-family:monospace ;">Address</h4>
                                <hr class="my-2">
                                <div class="small text-black-50">San Luis Potosi,Mexico</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="card" style="border: none;">
                            <div class="card-body text-center">
                                <h4 class="text-uppercase" style="font-family:monospace ;">Email</h4>
                                <hr class="my-2">
                                <div class="small text-black-50"><a>rodrigo_lo.ma@hotmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="card" style="border: none;">
                            <div class="card-body text-center">
                                <h4 class="text-uppercase" style="font-family:monospace ;">Phone</h4>
                                <hr class="my-2">
                                <div class="small text-black-50">+52 9999999999</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section> -->
</div>
